# --- Core Libraries ---
python-dotenv
langchain==0.1.13
langchain-core
langchain-community==0.0.29
langchain-text-splitters
gunicorn

# --- Google Gemini Integration ---
langchain-google-genai

# --- Vector Database ---
chromadb

# --- Document Processing & Utilities ---
pypdf
langchain-experimental
Flask
requests
gspread
oauth2client

# --- Database Connection ---
SQLAlchemy
psycopg2-binary
